#view-message-page ion-label {
  margin-top: 12px;
  margin-bottom: 12px;
}

#view-message-page h1 {
  margin: 0;
  font-weight: bold;
  font-size: 22px;
}

#view-message-page ion-input {
  font-size: 20px;
}

.reply-input {
  /* --padding-start: 0;
  --padding-end: 0; */
  --inner-padding-start: 0;
  --inner-padding-end: 0;
  --background: transparent;
  display: flex;
}

.reply-input ion-icon {
  margin: 16px 0;
  width: 84px;
}

.reply-input ion-textarea {
  padding: 16px;
  font-size: 18px;
}

.reply-spinner {
  --background: transparent;
}

.reply-spinner ion-spinner{
  margin: 32px;
}
