.message-list-item {
  --padding-start: 0;
  --padding-end: 16px;
  --inner-padding-end: 0;
  --inner-padding-bottom: 16px;
}

ion-label {
  margin-top: 12px;
  margin-bottom: 12px;
}

.message-list-item h2 {
  font-weight: 600;
  margin: 0;
  display: flex;
}

.message-list-item p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 95%;
  color: #e7e9ea !important;
  font-size: 15px !important;
}

.message-list-item .userId {
  margin-left: 6px;
  color: #71767b;
}

.message-list-item .date {
  margin-left: auto;
}

.message-list-item ion-icon {
  color: #c9c9ca;
}

.message-list-item ion-note {
  font-size: 15px;
  margin-right: 8px;
  font-weight: normal;
}

.message-list-item ion-note.md {
  margin-right: 14px;
}

ion-icon {
  height: 48px;
  width: 48px;
  align-self: start;
  margin: 16px 10px 16px 16px;
}

.dot {
  display: block;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  align-self: start;
  margin: 16px 10px 16px 16px;
}

.dot-unread {
  background: var(--ion-color-primary);
}

ion-footer ion-title {
  font-size: 11px;
  font-weight: normal;
}
